<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        .container {
            display: flex;
            justify-content:center;
            align-items:center;
            flex-direction:column;
            padding:10px;
        }
    </style>
    <title>

        <% if(title){ %>
        <%=title %>
        <% } else { %>
            EasyPass
        <%}%>
    </title>
</head>

<body class="container">

    <% if(qr_code && message === "QrCode Accepted"){ %>
    <div>
        <img src="<%=qr_code %>" alt="QR Code" />
    </div>
    <% } %>

    <% if(message){ %>
    <div>
        <h1><%=message %></h1>
    </div>
    <% } %>

</body>

</html>